<!--
/**
 * @category Digitalriver
 * @package  Digitalriver_DrPay
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())},attr: {'id': getCode()+'-content'}">
    <div class="payment-method-title field choice">
        <label class="control control--radio">
            <input type="radio"
                   name="payment[method]"
                   class="radio"
                   data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
            <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
        </label>
        <!-- Creditcard Logo -->
        <div class="payment-logos">
            <div class="american-express"></div>
            <div class="discover"></div>
            <div class="diners-club"></div>
            <div class="jcb"></div>
            <div class="master-card"></div>
            <div class="visa"></div>
        </div>
        <!-- Creditcard Logo -->
    </div>
    <div class="payment-method-content">
        <div id="payment-data"></div>
        <!-- ko if: (getInstructions().length > 0) -->
        <div class="payment-method-instruction">
            <span if="getInstructions().length" data-bind="text:getInstructions()"></span>
        </div>
        <!-- /ko -->
        <form id="drpay-creditcard-form" afterRender="drCreditCardLoader()">
            <div class="row payment-form-inner">
                <div class="form-field">
                    <div id="card-number" class="field"></div>
                </div>
                <div class="form-field">
                    <label for="card-expiration" data-bind="i18n: 'Expiration Date:'"></label>
                    <div id="card-expiration" class="field"></div>
                </div>
                <div class="form-field">
                    <div id="card-security-code" class="field"></div>
                </div>

                <div id="errors"></div>
                <div class="mb-3 text-center">
                    <span id="message" class="message"></span>
                </div>
            </div>
            <div id="creditcard-message" class="mage-error" generated="true"></div>
        </form>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko if: ($parent.getRegion(getBillingAddressFormName()).length > 0) -->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- /ko -->
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout placeorder" style="display:none"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Your Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        ">
                    <span data-bind="i18n: 'Place Your Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
